.navbar-default{ 
    background-color: #92AAC7;
}

.navbar-brand{
    color: #000000;
}

#sidebar{
    width:15%;
    background-color: #92AAC7;
    color: #000000;
    position: absolute;   
    top: 53px;
}

#body{
    background-color: #A1BE95;
}

.table {
     width: 1150px;
     height: 100px;
     position: absolute;
     top: 300px;
     left:205px;
     background-color: #E2DFA2;
     text-align: center;
}

#titulo{
   text-align: center; 
}

.panel{
    width: 1158px;
    height:220px;
    position: absolute;
    top:53px;
    left:205px;
    background-color:#E2DFA2;
}

#busqueda{
    width: 500px;
    position: absolute;
    top: 150px;
}

.btn-default{ 
    position: absolute;
    left: 1000px;
    top: 150px;
    color: #000000; 
    background-color: #ED5752; 
    border-color: #130269; 
}

.btn-primary{
    color: #000000; 
    background-color: #ED5752; 
    border-color: #130269; 
}

#persona{
    position: absolute;
    top: 20px;
    left: 20px;
}

#tituloCliente{
    position: absolute;
    top: 50px;
    left: 100px;
}

#modelo{
    background-color: #E2DFA2;
}

.modal-content{
    background-color: #A1BE95;
}